* {
  margin: 0;
  box-sizing: border-box;
  background-color: #dfdfdf;
  color: #252627;
}

h1, h2, h3 {
  font-family: 'Abril Fatface', cursive;
}
h2, h3 {
  color: #202070;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}
.logo {
  height: 150px;
  width: 150px;
}


/* Item */
.item-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 1%;
}
.item-card {
  height: 100%;
  width: 100%;
  border: solid 2px #202070;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  overflow: hidden;
  transition: 1s ease;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.item-image {
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  transition: 1s ease;
}
.item-image:hover {
  scale: 1.1;
}

/* ItemList */
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}