* {
  margin: 0;
  box-sizing: border-box;
  color: #ddcdc6;

}

h1, h2, h3 {
  font-family: 'Abril Fatface', cursive;
}
h2, h3 {
  color: #ddcdc6;
}

.header {
  text-align: center;
  background-color: #202070;
  padding-bottom: 10px;
}
.logo {
  height: 500px;
  width: 500px;
}
.forms {
  background-color: #202070;
  text-align: left;
  margin: auto;

}

/* Item */
.item-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 1%;
}
.item-card {
  height: 100%;
  width: 100%;
  border: solid 2px #202070;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  overflow: hidden;
  transition: 1s ease;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.item-image {
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  transition: 1s ease;
}
.item-image:hover {
  scale: 1.1;
}

/* ItemList */
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #202070;
}
/* Item Details */
.details {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 30px 30px 30px;
}
.details-image {
  max-width: 600px;
  max-height: 600px;
  width: auto;
}
.details-item {
  width: 33.3%;
  font-size: 18px;
}
.buttons-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
/* Update Form */
.form-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  font-size: 18px;
}
.button {
  font-family: 'Abril Fatface', cursive;;
  border: solid 2px #202070;
  background-color: #202070;
  padding: 10px 40px;
  color: #DDCDC6;
  font-size: 18px;
  transition: 1s ease;
}
.button:hover {
  background-color: #DDCDC6;
  color: #202070;
}
.view-all {
  margin: 5px 0px 30px 60px;
}